* {
    margin: 0;
}

nav {
    width: 100vw;
    height: 10vh;
    background-color: #D9D9D9;
}

div {
    display: flex;
}

section {
    width: calc(100vw / 3);
    height: 80vh;
    background-color: #989595;
}


footer {
    width: 100vw;
    height: 10vh;
    background-color: #B8B3B3;
}

.bgColor1 {
    background: linear-gradient(0deg, #A9A8A8 0%, #A9A8A8 100%), #A9A8A8;
}

.bgColor2 {
    background: linear-gradient(0deg, #817B7B 0%, #817B7B 100%), #A9A8A8;
}

.bgColor3 {
    background: linear-gradient(0deg, #544F4F 0%, #544F4F 100%), #A9A8A8;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 40px;
}
